body {
  font-family: var(--text-font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

:root {
  --text-font-family: "Roboto", sans-serif;
  --heading-footer-font-family: "Raleway", sans-serif;
  --link-button-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
a,
b,
button,
br,
img,
span {
  margin-left: 0;
  margin-right: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-left: 215px;
  padding-right: 215px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 43px;
}
.current-page {
  color: var(--link-button-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  align-items: center;
}
.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts .link {
  padding-right: 40px;
}
.header-icon {
  color: var(--paragraph-color);
  margin-right: 10px;
}
.header-icon:hover,
.header-icon:focus {
  color: var(--link-button-color);
}

.global-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}
.global-header .logo {
  padding-right: 50px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.global-header .logo .web {
  color: var(--link-button-color);
}
ul {
  list-style-type: none;
}

.global-header .navigation ul > li + li {
  display: flex;
  margin-left: 50px;
}
.global-header .link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}
.global-header .link:hover,
.global-header .link:focus {
  color: var(--link-button-color);
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--paragraph-color);
}

.hero-heading {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img\ \(9\).jpg");
}

.hero-container {
  text-align: center;
  padding: 200px 0;
}

.hero-heading .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-heading .button {
  margin: 20px;
}
.hero-heading .button {
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Roboto";
  background-color: var(--link-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section-attributes-list {
  display: flex;
  max-width: 1170px;
}
.section-attributes-item {
  margin-right: 30px;
  flex-basis: calc((100% - 75px) / 4);
}
.section-attributes-item:last-child {
  margin-right: 0px;
}
.name {
  margin-bottom: 10px;
}
.section-attributes,
.section-work,
.section-team {
  padding-top: 94px;
}
.section-attributes .name {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.section-attributes .description {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.attributes-icon {
  border-radius: 4px;
  padding: 25px 102px;
  margin-bottom: 30px;
  background: #f5f4fa;
  height: 120px;
}
.attributes-icon:hover,
.attributes-icon:focus {
  color: var(--link-button-color);
  cursor: pointer;
}

.section-work-title,
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.container-work {
  max-width: 1170px;
  margin: 0 auto;
}
.section-work-title {
  margin-bottom: 50px;
  text-align: center;
}
.section-work-list {
  display: flex;
}
.section-work-item {
  margin-right: 30px;
}
.services-list-item:last-child {
  margin-right: 0px;
}
.section-team {
  background: #f5f4fa;
  margin-top: 94px;
  padding-bottom: 94px;
}
.section-team-title {
  margin-bottom: 50px;
  text-align: center;
}
.section-team-list {
  display: flex;
}
.section-team-item {
  margin-right: 30px;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.section-team .description {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.team-icon {
  align-self: center;
  margin: 16px 44px 30px;
  color: #afb1b8;
  display: flex;
}
.icon {
  padding: 12px;
}
.team-icon a {
  display: flex;
  align-items: center;
  color: inherit;
}
.team-icon .icon {
  width: 44px;
  height: 44px;
}
.team-icon .icon:hover,
.team-icon .icon:focus {
  color: #ffffff;
  background-color: var(--link-button-color);
  border-radius: 50%;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  margin-bottom: 94px;
}
.customers-card {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
}
.customers-card:not(:last-child) {
  margin-right: 30px;
}
.customers-icon {
  color: #afb1b8;
}
.customers-card:hover,
.customers-card:focus {
  border-color: var(--link-button-color);
  cursor: pointer;
}
.customers-icon:hover,
.customers-icon:focus {
  color: var(--link-button-color);
  cursor: pointer;
}

.global-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.global-footer .logo {
  font-family: var(--heading-footer-font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.global-footer .logo .web {
  color: var(--link-button-color);
}
.global-footer-item-1 {
  margin-top: 28px;
  margin-bottom: 12px;
}
.global-footer-item-2 {
  margin-top: 12px;
}
.global-footer .location {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.global-footer .address .email {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #d9d9d9;
  text-decoration: none;
}

.global-footer .address .phone-number {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts-socials-list {
  display: flex;
}
.contacts-items {
  margin-right: 94px;
}
.socials-items {
  padding-top: 20px;
}
.socials-items p {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-media-list {
  display: flex;
}
.socials-media-items {
  display: flex;
  width: 44px;
  height: 44px;
  background: #ffffff1a;
  border-radius: 50%;
  color: #ffffff;
  margin-right: 10px;
}
.socials-media-items a {
  color: inherit;
}
.socials-media-items:hover,
.socials-media-items:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list-item {
  margin-right: 8px;
  color: #f5f4fa;
}
.buttons-list-item:last-child {
  margin-right: 0;
}
.buttons-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
}
.buttons-list .button:hover,
.buttons-list .button:focus {
  color: var(--link-button-color);
}
.buttons-list .button:hover {
  color: #ffffff;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;
}
.cards-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-item {
  border: 1px solid #eeeeee;
}
.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.images:hover,
.images:focus {
  border-color: var(--link-button-color);
}
.portfolio .article-name {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio .article-type {
  padding-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.backdrop {
  width: 100%;
  height: 100%;
  background: #00000033;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  height: 581px;
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
}
.modal-button {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-button:hover {
  color: var(--link-button-color);
  border: 1px solid;
}

.is-hidden {
  pointer-events: none;
  opacity: 0%;
}
